.container{
width: 400px;
height: 200px;
border: 1px solid black;
background-color: #FFFFFF;
color: black;
margin-left: calc((100vw - 400px)/2);
margin-top: calc((100vh - 250px)/2);
border-radius: 10px;

}
.inp{
    width: 350px;
    height: 20px;
    background-color: #EDEDED;
    position: relative;
    left: 20px;
}
.add{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-left: 30px;

}
.btn{
    height: 40px;
    width: 150px;
position: relative;
left: 230px;
top: 40px;
background-color: #00A5EC;
color: white;

}
.xxx{
font-size: 20px;
    position: relative;
    left: 200px;
}
@media (max-width:480px) {
    .body{
    background-image: url(./screenshot2.png);
    
    z-index: -10;
        }
    .container{
        margin-left: 0px;
        width: 350px;
        border: 2px solid black;
    

    }
    .inp{
        width: 200px;
        height: 20px;
        background-color: #EDEDED;
    }
    .btn{
        margin-left: -180px;
    }
    .xxx{
        font-size: 20px;
            position: relative;
            left: 100px;
        }
}